<!--
  Generated template for the EventosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header header-scroll-opacity [scrollArea]="mycontent" [scrollAmount]="100">
  <ion-navbar color="primary">
    <button ion-button menuToggle="leftMenu" style="position: relative;">
      <ion-icon name="menu" class=""></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content no-padding #mycontent fullscreen>
  <ion-row
    style="background-image: url('../../assets/imgs/2.jpg'); height: 280px;  width: 100%; background-repeat: no-repeat; background-size: cover;"
  >
    <ion-col col-12>
      <img
        src="../../assets/imgs/logo.png"
        style="display: block; width: 100px; height: 100px; margin-left: auto; margin-right: auto; margin-top: 45px;"
      />
      <h2
        class="tecolor"
        style="font-family: MyriadProBold; color:white; text-align: center;"
      >
        <strong>Eventos</strong>
      </h2>
    </ion-col>
  </ion-row>
  <div *ngIf="!skeletor">
    <div *ngIf="longitud != 0; else other_content">
      <div *ngIf="longivarios; else unevento" style="margin-top: -80px;">
        <ion-slides
          class="image-slider"
          slidesPerView="1.1"
          pager="true"
          style="height: 350px;"
        >
          <div *ngFor="let item of da2">
            <ion-slide style="padding: 10px;">
              <ion-card
                (click)="abrirtdetalleevento(item)"
                style="border-radius: 5px;"
                class="sombra"
              >
                <ion-item>
                  <img
                    style="max-height: 30px !important; max-width: 30px !important;"
                    src="../../assets/imgs/logo.png"
                    item-left
                  />
                  <h2 style="margin-top: 9px;">
                    <b>{{ item.nombre }}</b>
                  </h2>
                </ion-item>

                <img
                  class="cardimgdestacadas"
                  src="{{ url }}/{{ item.imagen_destacada }}"
                />
              </ion-card>
            </ion-slide>
          </div>
        </ion-slides>
      </div>

      <ng-template #unevento>
          <div *ngIf="longitudda2 == 0; else ceroevento">
          </div>
          <ng-template #ceroevento>
            <div
              *ngFor="let item of da2"
              style="margin-top: -50px; margin-left: 10px; margin-right: 10px;"
            >
              <ion-card
                (click)="abrirtdetalleevento(item)"
                style="border-radius: 5px;"
                class="sombra"
              >
                <ion-item>
                  <img
                    style="max-height: 30px !important; max-width: 30px !important;"
                    src="../../assets/imgs/logo.png"
                    item-left
                  />
                  <h2 style="margin-top: 9px;">
                    <b>{{ item.nombre }}</b>
                  </h2>
                </ion-item>

                <img
                  class="cardimgdestacadas"
                  src="{{ url }}/{{ item.imagen_destacada }}"
                />
              </ion-card>
            </div>
        </ng-template>
      </ng-template>

      <div style="margin-top: 10px;">
        <ion-item-group>
          <ion-item-divider
            color="white"
            style="font-size: 18px; color: #3e71c9; text-align: center;"
            >Últimos Eventos
          </ion-item-divider>
          <ion-item
            (click)="abrirtdetalleevento(item)"
            style="margin-top: 5px;"
            *ngFor="let item of da"
          >
            <ion-thumbnail item-start>
              <img
                style="border-radius: 5px;"
                src="{{ url }}/{{ item.imagen_destacada }}"
              />
            </ion-thumbnail>
            <h2>{{ item.nombre }}</h2>
            <p>{{ item.fecha_inicio }}</p>
            <button ion-button clear item-end>Ver</button>
          </ion-item>
        </ion-item-group>
      </div>
    </div>
    <ng-template #other_content>
      <div style="margin-top:50px; text-align: center;">
        <img
          src="../../assets/imgs/sinresultados (1).jpg"
          style="display: block;  margin-left: auto; margin-right: auto; margin-top: 0px;"
        />
        <H2 style="margin-top:-15px;">Sin Resultados</H2>
      </div>
    </ng-template>
  </div>
  <div *ngIf="skeletor">
    <div class="elementToFadeInAndOut fakeItem1"></div>
    <ion-item
      *ngFor="let fake of fakeUsers"
      class="elementToFadeInAndOut fakeItem"
    >
      <ion-thumbnail
        item-start
        style="width: 80px; height: 80px;  background-color: lightgrey; border-radius: 4px;"
      >
      </ion-thumbnail>
      <h2></h2>
      <p></p>
    </ion-item>
  </div>
</ion-content>
