page-restaurant {
  .fondorestaurant {
    width: 100% !important;
    height: 250px;
    background-image: url("../assets/imgs/1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .scroll-content {
    padding-top: 0px !important;
  }
  ion-label {
    white-space: normal !important;
  }
  
  ion-img {
    contain: inherit !important;
    background: transparent !important;
  }
  .imagen {
    display: block !important;
  }
  .sombra {
    -webkit-box-shadow: -8px -7px 48px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -8px -7px 48px -21px rgba(0, 0, 0, 0.75);
    box-shadow: -8px -7px 48px -21px rgba(0, 0, 0, 0.75);
  }
  .cardimgdeportes {
    width: 100% !important;
    height: 200px !important;
    max-height: 200px !important;
    background-image: linear-gradient(white 45%, transparent 70%);
  }
  .bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
  }
  .header-md::after {
    background: transparent !important;
  }
  .elementToFadeInAndOut {
    -webkit-animation: fadeinout 2s linear 1 forwards;
    animation: fadeinout 2s linear 1 forwards;
    animation-iteration-count: 10000;
  }

  @-webkit-keyframes fadeinout {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fadeinout {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .classRestaurant{
    background-image: url('../assets/imgs/2.jpg');
    background-repeat: no-repeat;
    height: 280px;
    background-size: cover;
  }
}
