page-restaurant {
  .fondorestaurant {
    width: 100% !important;
    height: 250px;
    background-image: url("../../assets/imgs/3.png");
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  ion-img {
    contain: inherit !important;
    background: transparent !important;
  }
  .sombra{
    -webkit-box-shadow: -8px -7px 48px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px -7px 48px -21px rgba(0,0,0,0.75);
    box-shadow: -8px -7px 48px -21px rgba(0,0,0,0.75);
  }
  .cardimgdeportes {
    width: 100% !important;
    height: 200px !important;
    max-height: 200px !important;
    background-image: linear-gradient(white 45%, transparent 70%);
  }
}
