page-teetime {
  .scroll-content {
    padding-top: 0px !important;
  }
  .contenedor {
    background-image: url("http://administrativo.tennisgolfclub.com.co/imagenes/imagenes_app/app_teetime3.png");
    -webkit-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-position: center;
  }
  .button-md {
    text-transform: none !important;
  }
  .bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
  }
  .header-md::after {
    background: transparent !important;
  }
  ion-label {
    white-space: normal !important;
  }
  .col {
    padding: 0px !important;
  }

  .elementToFadeInAndOut {
    -webkit-animation: fadeinout 2s linear 1 forwards;
    animation: fadeinout 2s linear 1 forwards;
    animation-iteration-count: 10000;
  }

  @-webkit-keyframes fadeinout {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fadeinout {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
