<!--
  Generated template for the EventosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header header-scroll-opacity [scrollArea]="mycontent" [scrollAmount]="500">
  <ion-navbar color="primary">
    <button ion-button menuToggle="leftMenu" style="position: relative;">
      <ion-icon name="menu" class=""></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content no-padding #mycontent fullscreen>
  <ion-row
    class="classPqrs"
  >
    <ion-col col-12>
      <img
        src="assets/imgs/logo.png"
        style="display: block; width: 100px; height: 100px; margin-left: auto; margin-right: auto; margin-top: 45px;"
      />
      <h2
        class="tecolor"
        style="font-family: MyriadProBold; color:white; text-align: center;"
      >
        <strong>PQRS</strong>
      </h2>
    </ion-col>
  </ion-row>
  <ion-grid style="margin-top: -60px;">
    <ion-row>
      <ion-col col-12 style="padding-top: 10px">
        <ion-card style="border-radius: 5px;" class="sombra">
          <ion-item>
            <img
              style="max-height: 30px !important; max-width: 30px !important;"
              src="assets/imgs/logo.png"
              item-left
            />
            <h2>
              <b>Formulario PQRS</b>
            </h2>
          </ion-item>
          <form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>
            <ion-item style="margin-left: 5px; margin-right: 5px;">
              <ion-label style="color:#3e71c9" floating>Asunto:</ion-label>
              <ion-input formControlName="asunto" type="text"></ion-input>
            </ion-item>
            <ion-item
              *ngIf="myForm.get('asunto').errors && myForm.get('asunto').dirty"
            >
              <p
                color="danger"
                ion-text
                *ngIf="myForm.get('asunto').hasError('required')"
              >
                Campo requerido
              </p>
            </ion-item>
            <ion-item style="margin-left: 5px; margin-right: 5px;">
              <ion-label style="color:#3e71c9" floating>Mensaje:</ion-label>
              <ion-textarea
                rows="6"
                formControlName="mensaje"
                type="text"
              ></ion-textarea>
            </ion-item>
            <ion-item
              *ngIf="
                myForm.get('mensaje').errors && myForm.get('mensaje').dirty
              "
            >
              <p
                color="danger"
                ion-text
                *ngIf="myForm.get('mensaje').hasError('required')"
              >
                Campo requerido
              </p>
            </ion-item>

            <div padding style="BACKGROUND: white;">
              <button
                ion-button
                color="secondary"
                block
                type="submit"
                [disabled]="myForm.invalid"
              >
                Enviar
              </button>
            </div>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
