page-pqrs {
  ion-img {
    contain: inherit !important;
    background: transparent !important;
  }
  ion-label {
    white-space: normal !important;
  }
  
  .scroll-content {
    padding-top: 0px !important;
  }
  .bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
  }
  .header-md::after {
    background: transparent !important;
  }
  .sombra {
    -webkit-box-shadow: 6px 7px 23px -14px rgba(0, 0, 0, 1);
    -moz-box-shadow: 6px 7px 23px -14px rgba(0, 0, 0, 1);
    box-shadow: 6px 7px 23px -14px rgba(0, 0, 0, 1);
  }

  .item-inner{
    margin-right: 23px !important;
  }
  .classPqrs{
    background-image: url('../assets/imgs/2.jpg');
     background-repeat: no-repeat;
      height: 280px;
       background-size: cover;
  }
}
