page-instalaciones {
  ion-img {
    contain: inherit !important;
    background: transparent !important;
  }
  .sombra{
    -webkit-box-shadow: 6px 7px 23px -14px rgba(0,0,0,1);
    -moz-box-shadow: 6px 7px 23px -14px rgba(0,0,0,1);
    box-shadow: 6px 7px 23px -14px rgba(0,0,0,1);
  }
  .cardimgdeportes {
    width: 100% !important;
    height: 200px !important;
    max-height: 200px !important;
    background-image: linear-gradient(white 45%, transparent 70%);
  }
}
