page-instalaciones {
  ion-img {
    contain: inherit !important;
    background: transparent !important;
  }
  .scroll-content {
    padding-top: 0px !important;
  }
  .sombra {
    -webkit-box-shadow: 6px 7px 23px -14px rgba(0, 0, 0, 1);
    -moz-box-shadow: 6px 7px 23px -14px rgba(0, 0, 0, 1);
    box-shadow: 6px 7px 23px -14px rgba(0, 0, 0, 1);
  }
  .cardimgdeportes {
    width: 100% !important;
    height: 200px !important;
    max-height: 200px !important;
    background-image: linear-gradient(white 45%, transparent 70%);
  }
  .bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
  }
  .header-md::after {
    background: transparent !important;
  }
  ion-slide.swiper-slide {
    left: 2%;
  }
  .elementToFadeInAndOut {
    -webkit-animation: fadeinout 2s linear 1 forwards;
    animation: fadeinout 2s linear 1 forwards;
    animation-iteration-count: 10000;
  }

  @-webkit-keyframes fadeinout {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fadeinout {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
