<!--
  Generated template for the EventosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header header-scroll-opacity [scrollArea]="mycontent" [scrollAmount]="100">
  <ion-navbar color="primary">
    <button ion-button menuToggle="leftMenu" style="position: relative;">
      <ion-icon name="menu" class=""></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content no-padding #mycontent fullscreen>
  <ion-row
    style="background-image: url('../../assets/imgs/2.jpg');background-repeat: no-repeat; height: 280px; background-size: cover; "
  >
    <ion-col col-12>
      <img
        src="../../assets/imgs/logo.png"
        style="display: block; width: 100px; height: 100px; margin-left: auto; margin-right: auto; margin-top: 45px;"
      />
      <h2
        class="tecolor"
        style="font-family: MyriadProBold; color:white; text-align: center;"
      >
        <strong>Instalaciones</strong>
      </h2>
    </ion-col>
  </ion-row>
  <div *ngIf="!skeletor">
    <div
      *ngIf="longitudsalones != 0"
      style=" padding: 0px !important;"
    >
      <div *ngIf="longitudsalones != 1; else unsalon">

          <h2
          class="tecolor"
          style="font-family: MyriadProBold; color:black; text-align: center; margin-bottom: -30px;"
        >
          <strong>Salones</strong>
        </h2>

        <ion-slides
          class="image-slider"
          slidesPerView="1.1"
          pager="true"
          style="height: 350px;"
        >
          <div *ngFor="let item of salones">
            <ion-slide>
              <ion-card
                (click)="abrirDetalle(item)"
                style="border-radius: 5px;"
                class="sombra"
              >
                <ion-item>
                  <img
                    style="max-height: 30px !important; max-width: 30px !important;"
                    src="../../assets/imgs/logo.png"
                    item-left
                  />
                  <h2 style="margin-top: 9px;">
                    <b>{{ item.nombre }}</b>
                  </h2>
                </ion-item>

                <img
                  class="cardimgdestacadas"
                  src="{{ url }}/{{ item.imagen_destacada }}"
                />
              </ion-card>
            </ion-slide>
          </div>
        </ion-slides>
      </div>
      <ng-template #unsalon>
        <div style="margin-top: -50px; margin-left: 10px; margin-right: 10px;">
            <h2
            class="tecolor"
            style="font-family: MyriadProBold; color:black; text-align: center; margin-bottom: -30px; margin-top: 40px;"
          >
            <strong>Salones</strong>
          </h2>
          
          <div *ngFor="let item of salones">
            <ion-card
              (click)="abrirDetalle(item)"
              style="border-radius: 5px;"
              class="sombra"
            >
              <ion-item>
                <img
                  style="max-height: 30px !important; max-width: 30px !important;"
                  src="../../assets/imgs/logo.png"
                  item-left
                />
                <h2 style="margin-top: 9px;">
                  <b>{{ item.nombre }}</b>
                </h2>
              </ion-item>

              <img
                class="cardimgdestacadas"
                src="{{ url }}/{{ item.imagen_destacada }}"
              />
            </ion-card>
          </div>
        </div>
      </ng-template>
    </div>
    <div
      *ngIf="longitudzonas != 0"
      style="margin-top: -40px !important; padding: 0px !important;"
    >
    <h2
    class="tecolor"
    style="font-family: MyriadProBold; color:black; text-align: center; margin-bottom: -30px; margin-top: 40px;"
  >
    <strong>Zonas Recreativas</strong>
  </h2>
      <div *ngIf="longitudzonas != 1; else unazona">
        <ion-slides
          class="image-slider"
          slidesPerView="1.1"
          pager="true"
          style="height: 350px;"
        >
          <div *ngFor="let item of zonas">
            <ion-slide>
              <ion-card
                (click)="abrirDetalle(item)"
                style="border-radius: 5px;"
                class="sombra"
              >
                <ion-item>
                  <img
                    style="max-height: 30px !important; max-width: 30px !important;"
                    src="../../assets/imgs/logo.png"
                    item-left
                  />
                  <h2 style="margin-top: 9px;">
                    <b>{{ item.nombre }}</b>
                  </h2>
                </ion-item>

                <img
                  class="cardimgdestacadas"
                  src="{{ url }}/{{ item.imagen_destacada }}"
                />
              </ion-card>
            </ion-slide>
          </div>
        </ion-slides>
      </div>

      <ng-template #unazona>
        <div style="margin-top: -50px; margin-left: 10px; margin-right: 10px;">
            <h2
            class="tecolor"
            style="font-family: MyriadProBold; color:black; text-align: center; margin-bottom: -30px; margin-top: 40px;"
          >
            <strong>Zonas Recreativas</strong>
          </h2>
          <div *ngFor="let item of zonas">
            <ion-card
              (click)="abrirDetalle(item)"
              style="border-radius: 5px;"
              class="sombra"
            >
              <ion-item>
                <img
                  style="max-height: 30px !important; max-width: 30px !important;"
                  src="../../assets/imgs/logo.png"
                  item-left
                />
                <h2 style="margin-top: 9px;">
                  <b>{{ item.nombre }}</b>
                </h2>
              </ion-item>

              <img
                class="cardimgdestacadas"
                src="{{ url }}/{{ item.imagen_destacada }}"
              />
            </ion-card>
          </div>
        </div>
      </ng-template>
    </div>
    <ion-grid
      *ngIf="longitudspa != 0"
      style="margin-top: -40px !important; padding: 0px !important;"
    >
    <h2
    class="tecolor"
    style="font-family: MyriadProBold; color:black; text-align: center; margin-bottom: -30px; margin-top: 40px;"
  >
    <strong>SPA</strong>
  </h2>
      <ion-row *ngIf="longitudspa != 1; else unspa">
        <ion-col col-12 style="padding: 0px !important;">
          <div>
            <ion-slides
              class="image-slider"
              slidesPerView="1.1"
              pager="true"
              style="height: 350px;"
            >
              <div *ngFor="let item of spa">
                <ion-slide>
                  <ion-card
                    (click)="abrirDetalle(item)"
                    style="border-radius: 5px;"
                    class="sombra"
                  >
                    <ion-item>
                      <img
                        style="max-height: 30px !important; max-width: 30px !important;"
                        src="../../assets/imgs/logo.png"
                        item-left
                      />
                      <h2 style="margin-top: 9px;">
                        <b>{{ item.nombre }}</b>
                      </h2>
                    </ion-item>

                    <img
                      class="cardimgdestacadas"
                      src="{{ url }}/{{ item.imagen_destacada }}"
                    />
                  </ion-card>
                </ion-slide>
              </div>
            </ion-slides>
          </div>
        </ion-col>
      </ion-row>
      <ng-template #unspa>
        <div style="margin-top: -50px; margin-left: 10px; margin-right: 10px;">
            <h2
            class="tecolor"
            style="font-family: MyriadProBold; color:black; text-align: center; margin-bottom: -30px; margin-top: 40px;"
          >
            <strong>SPA</strong>
          </h2>
          <div *ngFor="let item of spa">
            <ion-card
              (click)="abrirDetalle(item)"
              style="border-radius: 5px;"
              class="sombra"
            >
              <ion-item>
                <img
                  style="max-height: 30px !important; max-width: 30px !important;"
                  src="../../assets/imgs/logo.png"
                  item-left
                />
                <h2 style="margin-top: 9px;">
                  <b>{{ item.nombre }}</b>
                </h2>
              </ion-item>

              <img
                class="cardimgdestacadas"
                src="{{ url }}/{{ item.imagen_destacada }}"
              />
            </ion-card>
          </div>
        </div>
      </ng-template>
    </ion-grid>
  </div>

  <div *ngIf="banderaglobal" style="margin-top:50px;">
    <div style="text-align: center;">
      <img
        src="../../assets/imgs/sinresultados (1).jpg"
        style="display: block;  margin-left: auto; margin-right: auto; margin-top: 0px;"
      />
      <H2 style="margin-top:-15px;">Sin Resultados</H2>
    </div>
  </div>

  <div *ngIf="skeletor">
    <div class="elementToFadeInAndOut fakeItem1"></div>
    <ion-item
      *ngFor="let fake of fakeUsers"
      class="elementToFadeInAndOut fakeItem"
    >
      <ion-thumbnail
        item-start
        style="width: 80px; height: 80px;  background-color: lightgrey; border-radius: 4px;"
      >
      </ion-thumbnail>
      <h2></h2>
      <p></p>
    </ion-item>
  </div>
</ion-content>
