<!--
  Generated template for the EventosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header header-scroll-opacity [scrollArea]="mycontent" [scrollAmount]="100">
  <ion-navbar color="primary">
    <button ion-button menuToggle="leftMenu" style="position: relative;">
      <ion-icon name="menu" class=""></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content no-padding #mycontent fullscreen>
  <ion-row
    style="background-image: url('../../assets/imgs/2.jpg'); background-repeat: no-repeat; height: 280px; background-size: cover;"
  >
    <ion-col col-12>
      <img
        src="../../assets/imgs/logo.png"
        style="display: block; width: 100px; height: 100px; margin-left: auto; margin-right: auto; margin-top: 45px;"
      />
      <h2
        class="tecolor"
        style="font-family: MyriadProBold; color:white; text-align: center;"
      >
        <strong>Deportes</strong>
      </h2>
    </ion-col>
  </ion-row>

  <div *ngIf="!skeletor">
    <ion-grid
      style="margin-top: -60px; padding:0px !important"
      *ngIf="longitud != 0; else other_content"
    >
      <ion-row>
        <ion-col
          col-12
          style="padding:0px !important"
          *ngFor="let item of deportes"
        >
          <ion-card
            (click)="abrirDetalle(item)"
            style="border-radius: 5px;"
            class="sombra"
          >
            <ion-item>
              <img
                style="max-height: 30px !important; max-width: 30px !important;"
                src="../../assets/imgs/logo.png"
                item-left
              />
              <h2>
                <b>{{ item.nombre }}</b>
              </h2>
              <ion-icon name="send" color="primary" item-right></ion-icon>
            </ion-item>

            <ion-img
              class="cardimgdeportes"
              src="{{ url }}/{{ item.imagen_destacada }}"
            ></ion-img>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ng-template #other_content>
      <div style="margin-top:50px; text-align: center;">
        <img
          src="../../assets/imgs/sinresultados (1).jpg"
          style="display: block;  margin-left: auto; margin-right: auto; margin-top: 0px;"
        />
        <H2 style="margin-top:-15px;">Sin Resultados</H2>
      </div>
    </ng-template>
  </div>
  <div *ngIf="skeletor">
    <div class="elementToFadeInAndOut fakeItem1"></div>
    <ion-item
      *ngFor="let fake of fakeUsers"
      class="elementToFadeInAndOut fakeItem"
    >
      <ion-thumbnail
        item-start
        style="width: 80px; height: 80px;  background-color: lightgrey; border-radius: 4px;"
      >
      </ion-thumbnail>
      <h2></h2>
      <p></p>
    </ion-item>
  </div>
</ion-content>
